* {
    margin: 0px;
}

.acoes {
    max-width: 70px;
}

.editar {
    background: #27236f;
}

.remover {
    background: #fb0202;
}

.acao {
    padding: 6px;
    color: #ffffff !important;
}

.botao-adicionar, .botao-adicionar a {
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
}